/Azienda.class
/CentroDiFormazione.class
/ComparatoreDiPeriodiPerDataCrescente.class
/ComparatoreDiPeriodiPerDataDecrescente.class
/EccezioneEntitaGiaDefinita.class
/Entita.class
/Iscritto.class
/Network.class
/Periodo.class
